.payment-form {
  padding-top: 10px !important;

  height: 100px;

  button {
    margin-top: 50px;

    height: 45px;
    width: 90px;
  }
  label {
    font-size: 17px;
  }
  .payment-amount-left {
    text-align: left;
  }
  .payment-amount-right {
    text-align: right;
  }
  input {
    margin: 0 8px;
  }
}
@media screen and (max-width: 768px) {
  .payment-container {
    margin-top: 10px;
    .payment-section {
      padding-top: 0px !important;
    }
  }
}
@media screen and (max-width: 480px) {
  label {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 400px) {
  .payment-container {
    margin-top: 10px;

    label {
      font-size: 11px !important;
    }
  }
}
